/*----------------------------------------BASE----------------------------------------*/
html {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  color: #fff;
  font-weight: bold;
}

body {
  background-color: #151d47;
}
/*----------------------------------------HEADER----------------------------------------*/
#header {
  background-image: url(/img/bg-header.png);
  background-position: center -7px;
  background-size: auto 210px;
  background-repeat: repeat-x;
  height: 210px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

#header .logo {
  position: relative;
  display: inline-block;
  margin-top: 13px;
}

#header .logo img{
  width: 83px;
}

#header .logo:before,
#header .logo:after {
  content: "";
  display: block;
  background-image: url(/img/decor-line.svg);
  background-size: 100%;
  width: 85px;
  height: 15px;
  position: absolute;
  top: 13px;
}

#header .logo:before {
  transform: rotate(180deg);
  left: -105px;
}

#header .logo:after {
  right: -105px;
}

@media all and (min-width: 768px) {
  #header {
    background-position: center 0;
    background-size: auto;
    height: 240px;
  }

  #header .logo img{
    width: 111px;
  }

  #header .logo {
    position: relative;
    display: inline-block;
    margin-top: 6px;
  }

  #header .logo:before,
  #header .logo:after {
    background-size: 100%;
    width: 121px;
    height: 21px;
    top: 22px;
  }

  #header .logo:before {
    left: -134px;
  }

  #header .logo:after {
    right: -134px;
  }
}

/*----------------------------------------FOOTER----------------------------------------*/
#footer {
  background-image: url(/img/bg-footer-sp.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100%;
}

#footer ul.links-wrapper {
  margin-top: 35px;
}

#footer ul.links-wrapper li {
  background-position-x: -2px;
  width: 238px;
  margin: 0 auto;
  height: 53px;
  line-height: 53px;
  padding-left: 36px;
  font-size: 14px;
  margin-bottom: 18px;
  text-align: center;
}

#footer ul.links-wrapper li.link-fb {
  background-image: url(/img/link-fb.svg);
}

#footer ul.links-wrapper li.link-ios {
  background-image: url(/img/link-ios.svg);
}

#footer ul.links-wrapper li.link-android {
  background-image: url(/img/link-android.svg);
}

#footer ul.links-wrapper li.link-hotline {
  background-image: url(/img/link-hotline.svg);
}

#footer .copyright {
  text-align: center;
  font-size: 14px;
  padding: 18px 0 35px;
}