.notice-wrapper{
  padding-top: 125px;
  background-image: url("/img/bg-top.png");
  background-position: center;
  display: flex;
  justify-content: center;
}
.notice-wrapper .notice-content{
  width: 100%;
  background-color: #151d47;
  height: 192px;
}
.notice-wrapper .notice-content::before{
  content: "";
  display: block;
  border-top: 2px solid;
  border-image-source: linear-gradient(to left, #151d47, #6578c3 52%, #151d47);
  border-image-slice: 1;
}
.notice-content #notice-img{
  display: block;
  margin: 34px auto 22px;
}
.notice-content #notice-msg{
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

@media all and (min-width: 1024px) {
  .notice-wrapper{
    padding-top: 232px;
  }
  .notice-wrapper .notice-content{
    background-image: url("/img/bg-content.png");
    background-position: center;
    height: 501px;
    width: 1258px;
    background-color: transparent;
    margin-bottom: -70px;
  }
  .notice-wrapper .notice-content::before{
    display: none;
  }
  .notice-content #notice-img{
    display: block;
    margin: 133px auto 25px;
  }
  .notice-content #notice-msg{
    font-size: 25px;
  }
}
