.profile-wrapper .user-info {
  background-image: url(/img/bg-top-sp@3x.png);
  background-size: cover;
  padding-top: 11em;
}

.profile-wrapper .user-info:after {
  content: "";
  display: block;
  border-top: 2px solid;
  border-image-source: linear-gradient(to left, #151d47, #6578c3 52%, #151d47);
  border-image-slice: 1;
}

.profile-wrapper .user-info .avatar {
  margin: 0 auto;
  background-image: url(/img/frame-avatar.svg);
  background-size: cover;
  width: 11rem;
  height: 11rem;
}

.profile-wrapper .user-info .name {
  margin: 5px auto 0;
  font-size: 1.5rem;
  text-align: center;
}

.profile-wrapper .user-info .account-balance {
  background-image: url(/img/frame-balance.png);
  background-size: 576px auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  text-align: center;
  padding: 3.3rem 0;
  margin-bottom: 0.8rem;
}

.profile-wrapper .user-info .account-balance .value {
  font-size: 2.2rem;
}

.profile-wrapper .user-info .account-balance .label {
  font-size: 1.15rem;
  color: #69f3fb;
  margin-top: 0.2rem;
}

.profile-wrapper .games-statistics,
.profile-wrapper .games-statistics .info {
  margin-top: 45px;
}

.profile-wrapper .games-statistics .game-icon img {
  width: 266px;
  display: block;
  margin: 0 auto;
}

.profile-wrapper .games-statistics .info ul.game-results {
  max-width: 320px;
  margin: 0 auto;
}

.profile-wrapper .games-statistics .info ul.game-results li {
  height: 30px;
  margin-left: 12px;
  padding-left: 8px;
  position: relative;
}

.profile-wrapper .games-statistics .info ul.game-results li span {
  line-height: 30px;
  font-size: 11px;
  display: inline-block;
}

.profile-wrapper .games-statistics .info ul.game-results li:first-child span {
  font-size: 18px;
}

.profile-wrapper .games-statistics .info ul.game-results li span:first-child {
  width: 70%;
}

.profile-wrapper .games-statistics .info ul.game-results li span:last-child {
  color: #16eea3;
}

.profile-wrapper .games-statistics .info ul.game-results li:nth-child(2n+1):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1.4px;
  border-bottom-left-radius: 1.4px;
  background: linear-gradient(to left, #151d47, #ffffff);
  opacity: 0.05;
  z-index: -1;
}

.profile-wrapper .games-statistics .info ul.medal-list {
  text-align: center;
  margin-top: 23px;
}

.profile-wrapper .games-statistics .info ul.medal-list li {
  display: inline-block;
  margin: 0 11px;
  font-size: 11px;
}

.profile-wrapper .games-statistics .info ul.medal-list li span:before {
  content: "";
  display: block;
  background-size: cover;
  height: 35px;
  margin: 0 auto 9px;
}

.profile-wrapper .games-statistics .info ul.medal-list li.medal-gold span:before {
  background-image: url(/img/md-gold.png);
  width: 23px;
}

.profile-wrapper .games-statistics .info ul.medal-list li.medal-silver span:before {
  background-image: url(/img/md-silver.png);
  width: 22px;
}

.profile-wrapper .games-statistics .info ul.medal-list li.medal-bronze span:before {
  background-image: url(/img/md-bronze.png);
  width: 21px;
}

.profile-wrapper .games-statistics .owl-nav button {
  position: absolute;
  top: 42.5%;
  width: 30px;
  height: 44px;
}

.profile-wrapper .games-statistics .owl-nav button span {
  display: none;
}

.profile-wrapper .games-statistics .owl-nav button.owl-prev {
  left: 12px;
  background-image: url(/img/btn-prev.svg);
}

.profile-wrapper .games-statistics .owl-nav button.owl-next {
  right: 12px;
  background-image: url(/img/btn-next.svg);
}

.profile-wrapper .games-statistics .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.profile-wrapper .games-statistics .owl-dots button {
  background-image: url(/img/btn-dot.svg);
  background-size: cover;
  width: 14px;
  height: 14px;
  margin: 0 3px;
}

.profile-wrapper .games-statistics .owl-dots button.active {
  background-image: url(/img/btn-dot-active.svg);
  width: 22px;
  height: 22px;
}

@media all and (min-width: 1024px) {
  .profile-wrapper .user-info {
    background-image: url(/img/bg-top.png);
    background-position: center 0;
    padding-top: 134px;
    height: 780px;
  }

  .profile-wrapper .user-info:after {
    display: none;
  }

  .profile-wrapper .user-info .avatar {
    width: 155px;
    height: 155px;
  }

  .profile-wrapper .user-info .name {
    font-size: 16px;
    margin-top: 10px;
  }

  .profile-wrapper .user-info .account-balance {
    background-size: auto;
    height: 150px;
    padding: 53px 0;
  }

  .profile-wrapper .user-info .account-balance .value {
    font-size: 30px;
  }

  .profile-wrapper .user-info .account-balance .label {
    font-size: 16px;
  }

  .profile-wrapper .games-statistics {
    margin: -310px auto 0;
    background-image: url(/img/bg-content.png);
    background-size: 100%;
    max-width: 1250px;
    height: 400px;
    padding: 20px 125px;
  }

  .profile-wrapper .games-statistics .game-icon {
    float: left;
    width: 46%;
  }

  .profile-wrapper .games-statistics .game-icon img {
    width: 100%;
  }

  .profile-wrapper .games-statistics .info {
    margin-top: 110px;
    float: left;
    width: 54%;
    padding-left: 35px;
  }

  .profile-wrapper .games-statistics .info ul.game-results {
    max-width: 100%;
    margin: 0;
  }

  .profile-wrapper .games-statistics .info ul.game-results li span {
    font-size: 16px;
    line-height: 40px;
  }

  .profile-wrapper .games-statistics .info ul.game-results li:first-child span {
    font-size: 26px;
  }

  .profile-wrapper .games-statistics .info ul.game-results li {
    height: 40px;
    padding-left: 12px;
  }

  .profile-wrapper .games-statistics .owl-nav button.owl-prev {
    left: 60px;
  }

  .profile-wrapper .games-statistics .owl-nav button.owl-next {
    right: 60px;
  }

  .profile-wrapper .games-statistics .owl-nav button {
    top: 53%;
  }

  .profile-wrapper .games-statistics .info ul.medal-list {
    padding-left: 15px;
    text-align: left;
    margin-top: 28px;
  }

  .profile-wrapper .games-statistics .info ul.medal-list li.medal-gold span:before {
    width: 29px;
  }

  .profile-wrapper .games-statistics .info ul.medal-list li.medal-silver span:before {
    width: 26px;
  }

  .profile-wrapper .games-statistics .info ul.medal-list li.medal-bronze span:before {
    width: 25px;
  }

  .profile-wrapper .games-statistics .info ul.medal-list li span:before {
    height: 42px;
  }

  .profile-wrapper .games-statistics .info ul.medal-list li {
    font-size: 14px;
    text-align: center;
    margin: 0 12px;
  }

  .profile-wrapper .games-statistics .owl-dots button {
    width: 18px;
    height: 18px;
    margin: 0 4px;
  }

  .profile-wrapper .games-statistics .owl-dots button.active {
    width: 28px;
    height: 28px;
  }
}