@media all and (max-width: 1023px){
  .reset-pass-wrapper{
      padding-top: 116px;
      margin-bottom: 86px;
      background-image: url("/img/bg-top.png");
      background-position: center center;
      display: flex;
      justify-content: center;
  }
  
  .reset-pass-content{
      width: 100%;
      height: 303px;
      background-image: url("/img/bg-content.png");
      background-position: center center;
      background-size: cover;
  }
  
  #reset-pass-form{
      margin: 26px auto 0px;
      max-width: 271px;
  }
  
  #reset-pass-title{
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      margin-top: 23px;
  }
  
  #password{
      margin-bottom: 20px;
  }
  
  input[type=password] {
      width: 271px;
      height: 40px;
      padding: 10px 15px;
      margin: 8px 0;
      display: inline-block;
      border-radius: 25px;
      color: white;
      border: none;
      background-color: #273055;
  }
    
  input[type=submit] {
      width: 271px;
      height: 40px;
      background-image: linear-gradient(to left, #00c79d, #016689);
      color: white;
      padding: 10px;
      margin-top: 50px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
  }
  
  ::placeholder {
      color: #5b689e;
  }
  
  label{
      font-size: 14px;
      display: block;
  }
}

@media all and (min-width: 1024px) {
    .reset-pass-wrapper{
        padding-top: 232px;
        background-image: url("/img/bg-top.png");
        background-position: center center;
        display: flex;
        justify-content: center;
    }
    
    .reset-pass-content{
        width: 1258px;
        height: 501px;
        background-image: url("/img/bg-content.png");
        background-position: center center;
    }
    
    #reset-pass-form{
        margin: 26px auto 0px;
        max-width: 340px;
    }
    
    #reset-pass-title{
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-top: 36px;
    }
    
    #password{
        margin-bottom: 20px;
    }
    
    input[type=password] {
        width: 340px;
        height: 40px;
        padding: 10px 15px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 25px;
        color: white;
        border: none;
        background-color: #273055;
    }
      
    input[type=submit] {
        width: 340px;
        height: 40px;
        background-image: linear-gradient(to left, #00c79d, #016689);
        color: white;
        padding: 10px;
        margin-top: 50px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
    }
    
    ::placeholder {
        color: #5b689e;
    }
    
    label{
        font-size: 14px;
        display: block;
    }
}
